h1 {
    font-size: 60px;
    color: red;
    text-align: center;
    font-family: serif;
}
#kannsou {
    font-size: 30px;
    color: seagreen;
    text-align: center;
}
li {
    font-size: 25px;
    font-family: serif;
    color: red;
}
a {
    color: black;
    text-align:left ;
}
