h1 {
    font-size: 60px;
    color: red;
    text-align: center;
    font-family: serif;
}
#kannsou {
    font-size: 30px;
    color: seagreen;
    text-align: center;
}
li {
    font-size: 25px;
    font-family: serif;
    color: red;
}
a {
    color: black;
    text-align:left ;
}
nav {
    width: 100%;
    height: 70px;
    background-color: yellowgreen;
}
ul {
    display: flex;
}
#menu1 {
    list-style: none;
}
#menu2 {
    list-style: none;
}
#menu3 {
    list-style: none;
}
#menu4 {
    list-style: none;
}
#menu5 {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: blue;
    margin-right: 50px;
    font-family: serif;
}
#setumei1 {
    color: black;
}
